@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* CSS Variable */
:root {
  --primary-color: #08b89d;
  --secondary-color: #ff6e0b;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1e1f22;
  margin: 0;
  color: #fff;
  line-height: 1.6;
}

/* Header */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  cursor: pointer;
  width: 150px;
  margin-right: auto;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.5s ease 0s;
}

.nav_links li a:hover {
  color: #08b89d;
}

button {
  padding: 10px 25px;
  margin-left: 20px;
  background-color: rgba(4, 153, 131, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.9s ease 0s;
}

button:hover {
  background-color: rgba(4, 153, 131, 0.8);
}

/* showcase */
#showcase {
  margin: 0;
  padding: 0;
  background: url("./img/home/Shanghai_landscape_2.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

#showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#showcase * {
  z-index: 1;
}

#showcase h1 {
  color: var(--primary-color);
  font-size: 6rem;
}

#showcase h2 {
  color: var(--secondary-color);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

#showcase p {
  text-align: center;
}

/* Sections */
.section-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin: auto;
  border: 1px white solid;
}

/* Utility Classes */
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}
