@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* CSS Variable */
:root {
  --primary-color: #08b89d;
  --primary-collor-hover: #057967;
  --secondary-color: #ff6e0b;
}

/* Universal Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", sans-serif;
  background-color: #1e1f22;
  color: #fff;
  line-height: 1.6;
}

.section {
  padding: 2rem 0;
}

.section-head {
  font-size: 2rem;
  margin: 0;
  padding: 2rem 0;
}

.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

i {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #ccc;
}

.border {
  border: 1px solid var(--primary-color);
  padding: 1em 0.5em;
}

p {
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .section {
    padding: 0;
    margin: 0;
  }

  .section-head {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.85rem;
  }
}

/* Buttons */

.btn {
  padding: 0.5rem;
  margin: 0.5rem;
  color: #fff;
  display: inline-block;
  background: var(--primary-color);
  border-radius: 10px;
}
.btn:hover {
  background: var(--primary-collor-hover);
}

/* Youtube video */

.video {
  width: 600px;
  height: 350px;
}

@media only screen and (max-width: 600px) {
  .video {
    width: 350px;
    height: 200px;
  }
}

@media only screen and (max-width: 350px) {
  .video {
    width: 300px;
    height: 175px;
  }
}

/* Header */
.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 100%;
  /* transition: all 0.5s; */
}

.scrollNav {
  background-color: #1e1f22;
  border-bottom: 1px solid var(--primary-color);
  transition: all 0.5s;
}

.logo {
  cursor: pointer;
  width: 100px;
  margin: 0.75rem 0 0.75rem 1.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding-left: 1.5rem;
  transition: all 0.5s ease 0s;
}

.navbar-links li a {
  transition: all 0.5s ease 0s;
}

.navbar-links li a:hover {
  color: var(--primary-color);
}

.toggle-button {
  position: absolute;
  top: 1.25rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #1e1f22;
    border-bottom: 1px solid var(--primary-color);
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    background-color: #1e1f22;
  }
}

/* banner section */
#banner {
  margin: 0;
  padding: 0;
  background: url("./img/home/Shanghai_landscape_2.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

#banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#banner * {
  z-index: 1;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin: auto;
}

#banner h1 {
  color: var(--primary-color);
  font-size: 6rem;
  margin-bottom: 1rem;
}

#banner h2 {
  color: var(--secondary-color);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

#banner p {
  font-size: 1rem;
  text-align: center;
}

#banner .container {
  position: relative;
  top: 6rem;
}

@media only screen and (max-width: 800px) {
  #banner h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }

  #banner h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  #banner p {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 600px) {
  #banner h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  #banner h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  #banner p {
    font-size: 0.85rem;
  }
}

/* Services */

.services {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.service {
  border: 1px var(--primary-color) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .services {
    grid-template-columns: 1fr;
  }
}

/* Call-out-box */
.callOutBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qaBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.question {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid var(--primary-color);
  flex: 1;
  width: 100%;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  flex: 1;
  display: none;
}

.answer ul {
  padding: 10px;
  list-style-position: inside;
  text-align: justify;
}

.answer li {
  padding-bottom: 10px;
}

.show {
  display: block;
}

/* Testemonials */

.image-container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* Footer */
footer {
  padding: 1.5rem 2rem;
  font-size: 0.75rem;
  letter-spacing: 0.115rem;
}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  footer {
    font-size: 0.625rem;
  }
}
