@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* CSS Variable */
:root {
  --primary-color: #08b89d;
  --secondary-color: #ff6e0b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", sans-serif;
  background-color: #1e1f22;
  color: #fff;
  line-height: 1.6;
}

/* Header */
.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 100%;
  /* transition: all 0.5s; */
}

.scrollNav{
  background-color: #1e1f22;
  border-bottom: 1px solid var(--primary-color);
  /* transition: all 0.5s; */
}

.logo {
  cursor: pointer;
  width: 150px;
  margin: 1rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  transition: all 0.5s ease 0s;
}

.navbar-links li a {
  transition: all 0.5s ease 0s;
}

.navbar-links li a:hover {
  color: #08b89d;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* banner section */
#banner {
  margin: 0;
  padding: 0;
  background: url("./img/home/Shanghai_landscape_2.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

#banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#banner * {
  z-index: 1;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin: auto;
}

#banner h1 {
  color: var(--primary-color);
  font-size: 6rem;
  margin-bottom: 1rem;
}

#banner h2 {
  color: var(--secondary-color);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

#banner p {
  text-align: center;
}

/* Sections */
.section {
  padding: 2rem 0;
}

.section-head {
  font-size: 2rem;
  margin: 0;
  padding: 2rem 0;
}

.services {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.service {
  border: 1px orange solid;
}

/* Utility Classes */
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 3rem;
  border: 1px solid orange;
}

i {
  padding: 10px;
}

/* Call-out-box */
.callOutBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qaBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.question {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid orange;
  flex: 1;
  width: 100%;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  flex: 1;
  display: none;
}

.answer ul {
  padding: 10px;
  list-style-position: inside;
  text-align: justify;
}

.answer li {
  padding-bottom: 10px;
}

.show {
  display: block;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #1e1f22;
    border-bottom: 1px solid var(--primary-color);
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    background-color: #1e1f22;
  }
}
